*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body{
     font-family: 'Poppins', sans-serif;
 }
h1{
   font-size: 2.5rem;
   font-weight: 700;
   color: rgb(35, 35, 35);
}

span{
    font-size: .9rem;
    color:#757373;
}
h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 24);
}
nav{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
     justify-content: space-between;
     padding: 1vw 8vw;
     align-items: center;
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
     position: sticky;
     z-index: 999;
}
 nav a{

     text-decoration: none;

 }


nav img{
     width: 80px;
     cursor: pointer;
     border-radius: 50%;

}
nav .navigation ul{
         display: flex;
         justify-content: flex-end;
         align-items: center;
}

nav .navigation ul li{
  list-style:none;
  margin-left:60px;
}
nav .navigation ul li a{
     text-decoration: none;

     color: grey;
     font-size: 17px;
     font-weight: 500;
     transition: 0.3s ease;
}
nav .navigation ul li a:hover{
  color: lightblue;
  font-size: 15px;
}
 #home{

    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7)),url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   text-align: center;
    padding-top: 40px;
 }
#home h2{
    color: lightblue;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#home h3{
      color:lightblue;
      font-size: 2rem;
      letter-spacing:1px;

        }
#home p{
  width: 50%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;
}
#home .btn{
  margin-top: 30px;
}
 #home a{
     text-decoration: none;
     font-size: 0.9rem;
     padding: 13px 35px;
     background-color: white;
     font-weight: 600;
     border-radius: 10px;
 }

#home a.blue{
     color: white;
     background-color: rgba(21, 21, 100);
      transition: 0.3s ease;
}

#home a.blue:hover{
     color:rgb(21, 21, 100);
     background-color: lightblue;
}

#home a.yellow{
     color: white;
     background-color: #FDC938;
     transition: 0.3s ease;
}

#home a.yellow:hover{
      color:rgb(21, 21, 100);
     background-color: white;
}







#features{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}


#features .fea-base{
      display:grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 1rem;
      margin-top: 50px;
      margin-bottom: 70px;
}
#features .fea-box{
     background: #F9F9FF;
     text-align: start;
}
#features .fea-box i{
      font-size: 2.3rem;
      color: rgb(44, 44, 80);
}
#features .fea-box h3{
       font-size: 1.2rem;
       font-weight: 600;
       color: rgb(46, 46, 59);
       padding: 13px 0 7px 0;
}
#features .fea-box p{
     padding: 7px 2px;
     font-size: 1rem;
     font-weight: 400;
     color: rgb(70, 70, 87);
}






#course{
   padding:  10vw 8vw 8vw 8vw;
   text-align: center;
}

#course .course-box{
    display:grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
  cursor: pointer;
}
#course .course-box{
box-shadow: 0px 7px 18px 8px #0000002c;
transition: 0.3s ease box-shadow;
}
#course .course-box:hover{
	box-shadow: 0px 0px 5px 0 #0000002c;
}

#course .courses{

     text-align: start;
     background: #F9F9FF;
     height: 100%;
     position: relative;
}


#course .courses img{
           width: 100%;
           height: 60%;
           background-size: cover;
           background-position:center;
}


#course .courses .details{
  padding: 15px 15px 0px 15px;
}
#course .courses .details i{
          color: #FDC938;
          font-size: .9rem;
}
#course .courses .code{
           background-color: rgb(74, 74, 136);
           color: white;
           line-height: 70px;
           width: 70px;
           height: 70px;
           text-align: center;
           border-radius: 50%;
           position: absolute;
           right: 15px;
           bottom: 100px;
}







#registration{
    padding: 6vw 8vw 6vw 6vw;
    background-image: linear-gradient(rgba(99, 112, 168, 0.5),rgba(81, 91, 233, 0.5)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4mYjIBuWNW-D4ERyEHJG2GIv6coFz7VhNEw&usqp=CAU");
    width: 100%;
    height: 100%;
    background-size:cover;
    background-position:center;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
#registration .reminder{
      cursor: pointer;
     color:white;

}
#registration .reminder h1{
      cursor: pointer;
     color:white;

}
#registration .reminder .time{
     display: flex;
     margin-top: 40px;

}

 #registration .reminder .time button{
        font-size: 1.2rem;
        padding: 3px 4px;
        background-color: white;
        border-radius: 18px;
        color: white;
        background: grey;
        cursor: pointer;
 }
#registration .reminder .time button:hover{
            color:grey;
            background: white;
            transition: 0.3s ease;
}

#registration .form{
     background:white;
     border-radius: 8px;
     display: flex;
     flex-direction: column;
     padding: 40px;
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
}


#registration .form input{
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84, 40, 241);
    outline: none;
}
#registration .form input::placeholder{
      color: #413c3c;
      font-weight: 500;
      font-size: 0.9rem;
}

#registration .form .btn{
         margin-top: 20px;
}

#registration .form  a.yellow{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: white;
  font-weight: 600;
  border-radius: 10px;
     color: white;
     background-color: #FDC938;
     transition: 0.3s ease;
}

#registration .form a.yellow:hover{
      color:rgb(21, 21, 100);
     background-color: white;
}







#contact .contact .section-title {
  cursor: pointer;
  padding: 150px;
font-size: 4rem;
font-weight: 300;
color: black;
margin-bottom: 10px;
text-transform: uppercase;
letter-spacing: .2rem;
text-align: center;
}
#contact .contact .section-title span{
cursor: pointer;
  font-size: 4rem;
  font-weight: 300;
color: crimson;
}
#contact .contact {

	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {

	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {

	text-align: center;
  cursor: pointer;
	width: 80%;
	padding: 10px;
  justify-content: center;
 align-items: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 7px 18px 8px #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}














#experts{
   padding: 8vw 8vw 8vw 8vw;
   text-align: center;
}
#experts .expert-box{
  display:grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap: 1rem;
margin-top: 80px;
}

#experts .expert-box .profile{
    padding: 30px 10px;
     background: #fafaf1;
     padding: 60px 40px;

}
.pro-links{
               margin-top: 10px;
}
.pro-links i{

            padding: 10px 13px;
            border: 1px solid rgb(21, 21, 100);
            cursor: pointer;
            transition: 0.3s ease;
}
.pro-links i:hover{
  background: rgb(21, 21, 100);
  color: white;
  border: 1px solid rgb(21, 21, 100);
  cursor: pointer;
}
#experts h1{
        color: rgb(21, 21, 100);
  font-size: 60px;
  cursor: pointer;
}
#experts p{

  font-size:21px;
  cursor: pointer;
}

.profile h6{
  cursor: pointer;
}
.profile p{
  cursor: pointer;
}


#experts .expert-box .profile img{

  cursor: pointer;
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position:center;
  border-radius: 50%;
}
footer{
   padding: 8vw;
  background-color: #101C32;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer .footer-col{

      padding-bottom: 40px;
}
footer h3{
     color: rgb(241, 240, 245);
     font-weight: 600;
     padding-bottom: 20px;
}
footer li{
 list-style: none;
 color: #7b838a;
 padding: 10px 0;
 font-size: 15px;
 cursor: pointer;
 transition: 0.3s ease;
}
footer li:hover{
    color:rgb(241, 240, 245);

}
footer p{
    color:#7b838a;

}
footer .subscribe{
        margin-top: 20px;
}
footer input{
  width: 220px;
  padding: 15px 12px;
  background: #334F6C;
  border:none;
  outline: none;
  color: white;
}
footer .subscribe a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 12px 15px;
  background-color: white;
  font-weight: 600;
  border-radius: 10px;
}
footer .subscribe a.yellow{
   color: white;
   background-color: #FDC938;
   transition: 0.3s ease;
}

footer .subscribe a.yellow:hover{
    color:rgb(21, 21, 100);
   background-color: white;
}
 footer .copyright{
     margin-top: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     flex-wrap:wrap;
 }
 footer .copyright p{
   color: white;
 }
 footer .copyright .pro-links{
                margin-top: 0px;
 }
  footer .copyright .pro-links i{

          background-color: #5f7185;
          color: white;
 }
 footer .copyright .pro-links i:hover{
   background-color: #FDC938;
   color: #2c2c2c;
 }
